<%- contentFor('pageWrapper') %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= title %></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Sur les épaules de Darwin, sur les épaules des géants.</h1>
                <p>Se tenir sur les épaules des géants et voir plus loin, voir dans l'invisible, à travers l'espace et à travers le temps, tenter de ressentir, de faire revivre, d'imaginer l'étrange splendeur des mondes vivants qui nous entourent et qui n'ont cessé de se transformer et de se réinventer, sur des formes toujours nouvelles.</p>
                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a>
                </p>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->

