<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      You discovered Livestamp.js <abbr title="10:12pm" data-livestamp="1424898775"></abbr>
      <script src="../bower_components/jquery/dist/jquery.min.js"></script>
      <script src="../bower_components/moment/moment.js"></script>
      <script src="../bower_components/livestampjs/livestamp.min.js"></script>
      You discovered Livestamp.js <abbr title="10:12pm" data-livestamp="1424898775"></abbr>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
