<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Chat
        <div class="btn-group pull-right">
            <span id="connectCounter"></span>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul id="chat-list" class="chat">
        </ul>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">

            <label id="chat-pseudo-wrapper" for="btn-input" style="display: none">
                Connected as <span  class="badge"></span>
            </label>
        <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" onKeyPress="enterPressAlert(event)"
                   placeholder="Type your pseudo here..."/>
        <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" id="btn-chat">
                Send
            </button>
        </span>
        </div>
    </div>
    <!-- /.panel-footer -->
</div>