<div class="panel panel-default sensors">
    <div class="panel-heading">
        <i class="fa fa-rss fa-fw"></i> Sensors
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item sensors-temperature">
                <i class="wi fa-fw wi-thermometer "></i> Temperature
                                    <span class="pull-right text-muted small"><em></em>
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
            </div>
            <div class="list-group-item sensors-luminance">
                <i class="wi fa-fw wi-day-sunny "></i> Luminance
                                    <span class="pull-right text-muted small"><em></em>
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
            </div>
            <div class="list-group-item sensors-humidity">
                <i class="wi fa-fw wi-sprinkles "></i> Humidity
                                    <span class="pull-right text-muted small"><em></em>
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
            </div>

        </div>
        <!-- /.list-group -->
        <div class="panel panel-success sensors-connection-status">
            <div class="panel-heading text-center">
                Trying to connect ...
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>